(
  actors: [
    ( slug: "jordi", name: "Sant Jordi" ), 
    ( slug: "princess", name: "Cleodolinda" ),
    ( slug: "dragon", name: "Dragón" ),
  ],
  script: [
    (
      id: 1,
      text: Some("Érase una vez..."),
      next: Some(2),
    ),
    (
      id: 2,
      choices: Some([
        (text: "un dragón, bastante normal, probablemente con problemas de autoestima, que atemorizaba la villa de Montblanc.", next: 3),
        (text: "un humano con un disfraz de dragón cutre, que atemorizaba la villa de Montblanc.", next: 3),
      ]),
    ),
    (
      id: 3,
      text: Some("Para tenerlo contento y alejado de la villa, los vecinos le ofrecieron..."),
      next: Some(4)
    ),
    (
      id: 4,
      choices: Some([
        (text: "Animales", next: 5),
        (text: "Calçots", next: 5),
      ]),
    ),
    (
      id: 5,
      text: Some("Pero no fue suficiente para alejarlo, por lo que tomaron otras medidas."),
      next: Some(6)
    ),
    (
      id: 6,
      choices: Some([
        (text: "El rey organizó un sorteo para enviar a alguien del pueblo a la cueva del dragón, pero a su pesar, la sorteada fue su hija Cleodolinda.", next: 7),
        (text: "El propio rey fue elegido en el sorteo. Preso de su propia cobardía, les dijo a todos que la elegida fue la princesa.", next: 7),
      ]),
    ),
    (
      id: 7,
      text: Some("Cleodolinda salió de las murallas y se dirigió a su destino, donde encontró..."),
      next: Some(8),
    ),
    (
      id: 8,
      choices: Some([
        (text: "A", next: 9),
        (text: "B", next: 9),
      ]),
    ),
  ]
)
